*{
    box-sizing: border-box;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    height: 70px;
    width: 100%;
}

a{
    text-decoration: none;
}

.container{
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}

.nav-logo{
    float: left;
}

.nav-logo h3{
    font-weight: bold;
    margin-top: 20px;
    font-size: 30px;
}

.nav-item{
    float: right;
}

.nav-item a{
    float: left;
    padding: 0 15px;
    line-height: 70px;
    color: black;
}

.nav-item a:hover{
    color: dimgrey;

}

.landing{
    margin-top: 100px;
}

.landing h1{
    font-weight: bold;
    font-size: 60px;
    margin-top: -30px;
}

.btn{
    padding: 10px 30px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 2px;
}

.btn-landing{
    margin: 50px 0;
}

.mid-landing{
    margin: 100px 0;
}

.word-mid{
    text-align: center;
}

